<div class="container">
  <div class="row">
    <div class="d-flex">
      <div class="col-6">
        <% @cells.each do |cell| %>
          <div class="d-inline p-2 bg-primary text-white"><%= cell.abs %></div>
        <% end  %>
      </div>
    </div>
  </div>
</div>

