
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <% @cells.each do |cell| %>
      <h1> <%= cell.abs %></h1>
      <% end  %>
    </div>
  </div>
</div>

